.aboutUs{
    width: 100%;
    padding: 2rem 2rem ;
    // background-color: red;   
    @media(max-width: 600px),(max-width: 400px){
        flex-direction: column;
    }
    .left-about{
        width: 40%;
        flex-direction: column;
        @media(max-width: 600px),(max-width: 400px){
            width: 100%;
        }
        a{
            text-decoration: none;
            font-size: 1rem;
            border: 2px solid black;
            // padding: 1rem 1.1rem;
            width: 20%;
            color: black;
            padding: .5rem;
        }
    }
    .right-about{
        width: 52%;
        @media(max-width: 600px),(max-width: 400px){
            width: 100%;
        }
        img{
            width: 100%;
        }
    }
}